extends ../layout.pug

block content
    h2= cliente.nombre + ' ' + cliente.apellidos
    h2 #{cliente.nombre} #{cliente.apellidos}
    p Dirección: #{cliente.direccion}
    p Edad: #{cliente.edad}
    p Fecha Nacimiento: #{cliente.fecha_nacimiento}